@model OrdemServicoViewModel
@{
    ViewData["Title"] = "Ordem serviço";
}

<div class="row">
    <div class="col-12">
        <a asp-action="index" asp-controller="ordemservico" class="btn btn-sm btn-light icone icone-voltar">Voltar a listagem de OS</a>
    </div>
</div>
<hr class="mb-3 mt-3" />

<div class="row mb-3">
    <div class="col-1">
        <label asp-for="OrdemServicoId" class="form-label"></label>
        <input type="text" asp-for="OrdemServicoId" class="form-control form-control-sm" readonly />
    </div>
    <div class="col-2">
        <label asp-for="UsuarioNome" class="form-label"></label>
        <input type="text" asp-for="UsuarioNome" class="form-control form-control-sm" readonly />
    </div>
    <div class="col-6">
    </div>
    <div class="col-3">
        <label asp-for="Situacao" class="form-label"></label>
        <input type="text" asp-for="Situacao" class="form-control form-control-sm" readonly />
        <span asp-validation-for="Situacao" class="text-danger"></span>
    </div>
</div>

<div class="row mb-3">
    <div class="col-3">
        <label asp-for="ClienteNome" class="form-label"></label>
        <input type="text" asp-for="ClienteNome" class="form-control form-control-sm" readonly />
        <span asp-validation-for="ClienteNome" class="text-danger"></span>
    </div>

    <div class="col-3">
        <label asp-for="VeiculoPlaca" class="form-label"></label>
        <input type="text" asp-for="VeiculoPlaca" class="form-control form-control-sm" readonly />
        <span asp-validation-for="VeiculoPlaca" class="text-danger"></span>
    </div>

    <div class="col-2">
        <label asp-for="DataEntrada" class="form-label"></label>
        <input type="date" asp-for="DataEntrada" class="form-control form-control-sm" readonly />
    </div>

    <div class="col-2">
        <label asp-for="DataPrevisao" class="form-label"></label>
        <input type="date" asp-for="DataPrevisao" class="form-control form-control-sm" readonly />
    </div>

    <div class="col-2">
        <label asp-for="KMAtual" class="form-label"></label>
        <input type="number" asp-for="KMAtual" class="form-control form-control-sm" readonly />
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <textarea asp-for="Observacao" class="form-control form-control-sm" rows="4" readonly></textarea>
    </div>
</div>

<div class="row mt-3">
    <div class="col-6">
        <div id="tbItens"></div>
    </div>
</div>

<script>
    carregarAjax(`/ordemservico/servicos-os/${@Model.OrdemServicoId}`, 'tbItens');
</script>



