@model OrdemServicosViewModel
@{
    ViewData["Title"] = "Ordem serviço";
}

<style>
    #tbOS tbody tr td[data-situacao="2"] span {
        background-color: var(--bs-primary);
        color: var(--bs-white);
    }
    #tbOS tbody tr td[data-situacao="3"] span {
        background-color: var(--bs-warning);
        color: var(--bs-white);
    }
    #tbOS tbody tr td[data-situacao="4"] span {
        background-color: var(--bs-success);
        color: var(--bs-white);
    }
    #tbOS tbody tr td[data-situacao="5"] span {
        background-color: var(--bs-danger);
        color: var(--bs-white);
    }
</style>

<div class="row align-items-end">
    <div class="col-6">
        <h5>Listagem de ordem de serviço</h5>
    </div>
    <div class="col-6 text-end">
        <a asp-area="" asp-controller="ordemservico" asp-action="carregarcadastrar" class="btn btn-sm btn-light icone icone-novo ms-auto">Nova OS</a>
    </div>
</div>

<partial name="_OrdemServicosGrid.cshtml" for="ListaOS" />