@using tcc.web.Utils;
@model EditarUsuarioViewModel
@{
    ViewData["Title"] = "Usuarios";
}

<form id="formEditUsuario" asp-action="editar" asp-controller="usuarios" asp-route-returnlink="@ViewData["returnlink"]" method="post">

    <div class="form-validacao"></div>

    <input type="hidden" asp-for="UsuarioId" />
    <input type="hidden" asp-for="Login" />

    <div class="row">
        <div class="col-12 text-start">
            <button type="submit" class="btn btn-sm btn-light icone icone-salvar">Salvar usuário</button>
            <a asp-action="excluir" asp-controller="usuarios" asp-route-id="@Model.UsuarioId" class="btn btn-sm btn-light icone icone-deletar">Excluir usuário</a>
        </div>
    </div>

    <hr class="mb-3 mt-3" />

    <div class="row mb-3">
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="Sobrenome" class="form-label"></label>
            <input asp-for="Sobrenome" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="email" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="AlterarSenha">
                <label class="form-check-label" asp-for="AlterarSenha"></label>
            </div>
        </div>
    </div>

    <div class="row mb-3" id="senha">
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="Senha" class="form-label"></label>
            <input asp-for="Senha" type="password" class="form-control form-control-sm" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="ConfirmaSenha" class="form-label"></label>
            <input asp-for="ConfirmaSenha" type="password" class="form-control form-control-sm" />
            <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#senha').hide();

        $('#AlterarSenha').off('change').on('change', function () {
            if (document.getElementById('AlterarSenha').checked) {
                $('#senha').show();
            } else {
                $('#senha').hide();
            }
        });
    });

    $('#formEditUsuario').off('submit').on('submit', function (e) {
        e.preventDefault();

        carregando(true);

        let form = new FormData($(this)[0]);
        $.ajax({
            url: $(this).attr('action'),
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            enctype: 'multipart/form-data',
            type: "PUT",
        }).done(function (dados) {
            window.location.href = '/usuarios';
        }).fail(function (error) {
            processarErros('formEditUsuario', error.responseJSON.erros);
        }).always(function () {
            carregando(false);
        });
    });
</script>