@model ClienteViewModel

<div class="table-responsive mt-5">
    <table class="dataTable table table-sm table-bordered" data-sem-pesquisa="true">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaVeiculos)
            {
                <tr>
                    <td><span>@item.Placa</span></td>
                    <td>@item.Marca</td>
                    <td data-situacao="@item.Situacao"><span>@item.Situacao</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>
