@using tcc.web.Utils;
@model ClienteViewModel
@{
    ViewData["Title"] = "Clientes";
}

<form id="formEditCliente" asp-action="editar" asp-controller="clientes" method="post">

    <div class="form-validacao"></div>

    <input asp-for="ClienteId" type="hidden" />

    <div class="row">
        <div class="col-12 text-start">
            <div class="btn-group-sm">
                <button type="submit" class="btn btn-sm btn-light icone icone-salvar">Salvar cliente</button>
                <a class="btn btn-sm btn-light icone icone-novo" data-abrir-modal="True" data-abrir-modal-url="/veiculos/cadastrar/@Model.ClienteId?modal=true">Novo veiculo</a>
                @if (User.IsInRole("NV3"))
                {
                    <a asp-action="excluir" asp-controller="clientes" asp-route-id="@Model.ClienteId" class="btn btn-sm btn-light icone icone-deletar">Excluir cliente</a>
                }
            </div>
        </div>
    </div>

    <hr class="mb-3 mt-3" />

    <div class="row mb-3">
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="Sobrenome" class="form-label"></label>
            <input asp-for="Sobrenome" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-2">
            <label asp-for="CPFOuCNPJ" class="form-label"></label>
            <input asp-for="CPFOuCNPJ" type="number" class="form-control form-control-sm" />
            <span asp-validation-for="CPFOuCNPJ" class="text-danger"></span>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-2">
            <label asp-for="Telefone1" class="form-label"></label>
            <input asp-for="Telefone1" type="tel" class="form-control form-control-sm" />
            <span asp-validation-for="Telefone1" class="text-danger"></span>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-2">
            <label asp-for="Telefone2" class="form-label"></label>
            <input asp-for="Telefone2" type="tel" class="form-control form-control-sm" />
            <span asp-validation-for="Telefone2" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="EnderecoViewModel.Rua" class="form-label"></label>
            <input asp-for="EnderecoViewModel.Rua" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="EnderecoViewModel.Rua" class="text-danger"></span>
        </div>
        <div class="col-lg-1 col-sm-2 col-md-1">
            <label asp-for="EnderecoViewModel.Numero" class="form-label"></label>
            <input asp-for="EnderecoViewModel.Numero" type="number" class="form-control form-control-sm" />
            <span asp-validation-for="EnderecoViewModel.Numero" class="text-danger"></span>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-2">
            <label asp-for="EnderecoViewModel.CEP" class="form-label"></label>
            <input asp-for="EnderecoViewModel.CEP" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="EnderecoViewModel.CEP" class="text-danger"></span>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <label asp-for="EnderecoViewModel.Complemento" class="form-label"></label>
            <input asp-for="EnderecoViewModel.Complemento" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="EnderecoViewModel.Complemento" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="EnderecoViewModel.Bairro" class="form-label"></label>
            <input asp-for="EnderecoViewModel.Bairro" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="EnderecoViewModel.Bairro" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
            <label asp-for="EnderecoViewModel.Cidade" class="form-label"></label>
            <input asp-for="EnderecoViewModel.Cidade" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="EnderecoViewModel.Cidade" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-3">
            <label asp-for="EnderecoViewModel.Estado" class="form-label"></label>
            <select asp-for="EnderecoViewModel.Estado" asp-items="@Estados.ListaEstados" class="select2 select2-hidden-accessible form-select form-select-sm" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option value="" selected>Selecione o estado</option>
            </select>
        </div>
    </div>
</form>

<div id="tbVeiculos">
    <partial name="_VeiculosGrid.cshtml" />
</div>

<script>
    const recarregarConteudo = () => {
        carregarAjax(`/clientes/editar/${@Model.ClienteId}/veiculos`, 'tbVeiculos');
    };

    $(document).ready(function () {
        recarregarConteudo();
    });

    $('#formEditCliente').off('submit').on('submit', function (e) {
        e.preventDefault();

        $("#formEditCliente").validate();
        if (!$('#formEditCliente').valid()) return;

        carregando(true);

        let form = new FormData($(this)[0]);
        $.ajax({
            url: $(this).attr('action'),
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            enctype: 'multipart/form-data',
            type: "POST",
        }).done(function (dados) {
            window.location.href = '/clientes';
        }).fail(function (error) {
            processarErros('formEditCliente', error.responseJSON.erros);
        }).always(function () {
            carregando(false);
        });
    });
</script>



