@model ClientesViewModel
@{
    ViewData["Title"] = "Clientes";
}

<div class="row align-items-end">
    <div class="col-6">
        <h5>Listagem de clientes</h5>
    </div>
    <div class="col-6 text-end">
        <a asp-area="" asp-controller="clientes" asp-action="carregarcadastrar" class="btn btn-sm btn-light icone icone-novo ms-auto">Novo cliente</a>
    </div>
</div>

<partial name="_ClientesGrid.cshtml" for="ListaClientes" />