@model ClientesViewModel
@{
    ViewData["Title"] = "Clientes";
}

<div class="row align-items-end">
    <div class="col-6">
        <label for="Nome" class="form-label">Pesquisar cliente</label>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control form-control-sm" id="Nome" name="Nome">
            </div>
            <div class="col-auto">
                <button type="submit" title="Pesquisar" class="btn btn-sm btn-outline-info"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="col-6 text-end">
        <a asp-area="" asp-controller="Clientes" asp-action="CarregarCadastrar" class="btn btn-sm btn-light icone icone-novo ms-auto">Novo cliente</a>
    </div>
</div>

<partial name="_ClientesGrid.cshtml" for="ListaClientes" />