@model RelatorioViewModel

<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6">
        <partial name="_GraficoBarraTopServicos.cshtml" />
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6">
        <partial name="_GraficoCardOS.cshtml" />
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 col-sm-12 col-lg-6">
        <partial name="_GraficoBarraServicos.cshtml" />
    </div>

     <div class="col-md-6 col-sm-12 col-lg-6">
        <partial name="_GraficoBarraServicosProjecao.cshtml" />
    </div>
</div> 