@using tcc.web.Utils;
@model ServicoViewModel
@{
    ViewData["Title"] = "Serviços";
}

<form id="formEditServico" asp-action="editar" asp-controller="servicos" asp-route-returnlink="@ViewData["returnlink"]" method="post">

    <div class="form-validacao"></div>

    <input asp-for="ServicoId" type="hidden" />

    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="DescricaoResumida" class="form-label"></label>
            <input asp-for="DescricaoResumida" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="DescricaoResumida" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="Valor" class="form-label"></label>
            <input asp-for="Valor" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="col-7">
            <label asp-for="Descricao" class="form-label"></label>
            <input asp-for="Descricao" type="text" class="form-control form-control-sm" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a asp-action="excluir" asp-controller="servicos" asp-route-id="@Model.ServicoId" class="btn btn-sm btn-danger">Excluir serviço</a>
            <button type="submit" class="btn btn-sm btn-primary">Salvar serviço</button>
        </div>
    </div>
</form>

<script>
    $('#formEditServico').off('submit').on('submit', function (e) {
        e.preventDefault();

        $("#formEditServico").validate();
        if (!$('#formEditServico').valid()) return;

        carregando(true);

        let form = new FormData($(this)[0]);
        $.ajax({
            url: $(this).attr('action'),
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            enctype: 'multipart/form-data',
            type: "PUT",
        }).done(function (dados) {
            window.location.href = '/servicos';
        }).fail(function (error) {
            processarErros('formEditServico', error.responseJSON.erros);
        }).always(function () {
            carregando(false);
        });
    });
</script>