@model ServicoViewModel
@{
    ViewData["Title"] = "Serviços";
}

<div class="row mb-3">
    <div class="col-lg-3 col-sm-6 col-md-3">
        <label asp-for="DescricaoResumida" class="form-label"></label>
        <input asp-for="DescricaoResumida" type="text" class="form-control form-control-sm" disabled />
        <span asp-validation-for="DescricaoResumida" class="text-danger"></span>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-3">
        <label asp-for="Valor" class="form-label"></label>
        <input asp-for="Valor" type="text" class="form-control form-control-sm" disabled/>
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <label asp-for="Descricao" class="form-label"></label>
        <textarea asp-for="Descricao" type="text" class="form-control form-control-sm" rows="2" disabled> </textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
</div>