@model ServicosViewModel
@{
    ViewData["Title"] = "Serviços";
}

<div class="row align-items-end">
    <div class="col-6">
        <h5>Listagem de serviços</h5>
    </div>
    <div class="col-6 text-end">
        <a asp-area="" asp-controller="servicos" asp-action="carregarcadastrar" class="btn btn-sm btn-light icone icone-novo ms-auto">Novo serviço</a>
    </div>
</div>

<partial name="_ServicosGrid.cshtml" for="ListaServicos" />